#main.container{
  padding-top: 35px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
}

input[type=date].form-control{
width: 90%;
}

.table {
  margin-bottom: 0;
}

legend{
margin-bottom: 0px;
}

@media(max-width : 990px){
  #descProd {
      width: 200px !important;
  }
}

#descProd{
  width: 230px;
}

.table-teamwork tbody tr td.text-xs-center:hover{
  cursor: pointer;
  background: #eff4fc;
}
#table-teamwork * td,
#table-teamwork * th{
  border-color: #999 !important;
}
.workitem-line{
  cursor: pointer;
}
.bg-primary{
  background: #01579B !important;
}
.label-loading *{
  vertical-align: middle;
}



.btn-primary{
  background-image: none;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-right {
  max-height: 30px;
}

.navbar-brand>img {
  display: inline;
}

.navbar-nav>li>a {
  padding-top: 18px;
  padding-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse>.container-fluid>.navbar-collapse>.navbar-right>.btn-toolbar>.btn-group>.dropdown-toggle>.caret {
  display: none;
}

.text-xs-center {
  text-align: center!important;
}

.dropdown-menu>div>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu>div>li>a:focus, .dropdown-menu>div>li>a:hover {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu>div>li>a>svg {
  vertical-align: sub !important;
  display: inline-block;  
  font: normal normal normal 16px/1 FontAwesome;
  font-size: initial;
  line-height: 90px;
}