body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

span {
  color: white;
  width: 100%;
}

.mainRow {
  background-color: #1f1f1f;
  border: 1px solid black;
  padding: 1%;
  display: flex;
}

.mainRow:hover {
  background-color: #000000;
}

.mainRow:hover .iconeSelection {
  background-color: transparent !important;
  border: 1px solid white;
}

.mainRow:hover .iconeSelection i:first-child {
  display: none;
}

.mainRow:hover .iconeSelection i:last-child {
  display: block;
}

button {
  border: none;
  border-radius: 50%;
  height: 27px;
  width: 28px;
}

i {
  font-size: 9px;
  color: white;
  font-weight: bold;
  font-style: normal;
}

.selected {
  border: 1px solid white;
  background-color: transparent !important;
}

.notShow {
  display: none;
}

.selectedRow {
  background-color: #658277 !important;
}

.divIcon {
  padding-right: 0.8%;
  padding-top: 0.6%;
}